.reviews {
  margin-top: 12px;
  background: var(--white);
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin-bottom: 24px;
}

.reviewItem {
  background: var(--white);
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.reviewerAva {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--badges);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--button);
  text-transform: uppercase;
}

.reviewerInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewerName {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}

.rating {
  display: flex;
  gap: 4px;
}

.star {
  color: var(--badges);
  font-size: 16px;
}

.star.filled {
  color: var(--rating);
}

.comment {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.showMoreButton {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  padding: 16px 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--main);
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--gray-light);
  transition: border-color 0.3s ease;
}

.showMoreButton:hover {
  border-color: var(--button-hover);
}