.bookingForm {
  background: var(--white);
  padding: 44px;
  border-radius: 10px;
  border: 1px solid var(--gray-light);
}

.formTitle {
  display: flex;
  gap: 8px;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-bottom: 24px;
}

.titleText {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}

.subText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 100%;
}

.inputGroups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  width: 100%;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
  background-color: var(--inputs);
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}

.inputGroup input:focus,
.inputGroup textarea:focus {
  color: var(--main);
  outline: none;
}

.dateInput {
  appearance: none; /* Забирає стандартну іконку календаря */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
}

.inputGroup textarea {
  resize:none;
  min-height: 118px;
}

.submitButton {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 200px;
  padding: 16px 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  text-decoration: none;
  background: var(--button);
  transition: background-color 0.3s ease;
}

.submitButton:hover, .submitButton:focus {
  background: var(--button-hover);
}