.filters {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 40px;
  background: var(--white);
}

.searchBar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.inputIcon {
  position: absolute;
  left: 18px;
  width: 20px;
  height: 20px;
  fill: var(--gray);
}

.searchInput {
  width: 100%;
  padding: 18px 18px 14px 46px;
  border: none;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
  background: var(--inputs);
  transition: all 0.3s ease;
}

.searchInput:focus {
  outline: none;
  color: var(--main);
}

.inputWrapper:focus-within .inputIcon {
  fill: var(--main);
}

.sectionFilters {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.filterTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.sectionFilter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.sectionTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}

.features, .vehicleTypes {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  border-top: 1px solid var(--gray-light);
  padding-top: 24.5px;
  margin-top: -0.5px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  width: 112px;
  height: 96px;
  background: transparent;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  cursor: pointer;
  transition: border 0.3s ease;
}

.feature:hover,
.feature:focus-within {
  border-color: var(--button);
}

.feature.active {
  border-color: var(--button-hover);
}

.feature input[type="checkbox"] {
  display: none;
}

.feature span {
  font-size: 1rem;
  color: var(--main);
}

.feature .icon {
  width: 32px;
  height: 32px;
  fill: var(--main);
  flex-shrink: 0;
}

.icon {
  width: 32px;
  height: 32px;
  fill: var(--main);
  flex-shrink: 0;
}

.typeButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  width: 112px;
  height: 96px;
  background: transparent;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);
  cursor: pointer;
  transition: border 0.3s ease;
}

.typeButton:hover, .typeButton:focus {
  border-color: var(--button);
}

.typeButton.active {
  border-color: var(--button-hover);
}
/* 
.feature input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
}

.feature span {
  font-size: 0.875rem;
  color: var(--main);
} */

.resetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  border: none;
  border-radius: 200px;
  padding: 16px 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  text-decoration: none;
  background: var(--button);
  transition: background-color 0.3s ease;
}

.resetButton:hover {
  background: var(--button-hover);
}
