@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #ff385c;
  --primary-hover: #e61e4d;
  --text-color: #121417;
  --text-secondary: #8a8a89;
  --background-light: #f7f7f7;
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: var(--main);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
}
